.idea
*.iml

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.zip

FitNesseRoot/ErrorLogs/
FitNesseRoot/FitNesse/
FitNesseRoot/PageFooter/
FitNesseRoot/PageHeader/
FitNesseRoot/FrontPage/
FitNesseRoot/RecentChanges
FitNesseRoot/FitNesse/
FitNesseRoot/FitNesse/

spritnesse-proj/target/
spritnesse-test/target/classes/

