<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="thingy" class="java.lang.String">
        <constructor-arg index="0" value="hello, world"/>
    </bean>

    <bean id="masterDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/adscale_test"/>
        <property name="username" value="adscale"/>
        <property name="password" value="adscale"/>
        <property name="defaultAutoCommit" value="true"/>
        <!--<property name="defaultTransactionIsolation" value="#{T(java.sql.Connection).TRANSACTION_READ_COMMITTED}"/>-->
    </bean>



</beans>